*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}



body {
    background-color: white;

}

.main {
    background-color: hsl(207, 33%, 95%);
    margin: 1em;
    border-radius: 5px;
}

.header {
    padding: 2em;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

nav img {
    position: relative;
    left: 100px;
}

nav ul {
    position: relative;
    right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: .8em;
    color: hsl(231, 7%, 65%);
    font-family: 'Barlow';
    cursor: pointer;
}

nav ul button {
    background-color: hsl(255deg 43% 28%);
    color: white;
    padding: .7em 1em;
    font-family: 'Barlow Condensed';
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

.main-content .side-image img {
    width: 400px;
}

.main-content {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
    padding-bottom: 8em;
}

.main-content .side-content {
    width: 600px;
    position: relative;
    top: 70px;
    left: 120px;
}

.main-content .side-image {
    position: relative;
    left: 280px;
}

.first-line {
    background-color:  hsl(255deg 43% 28%);
    color: white;
    width: 460px;
    padding: .5em;
    border-radius: 20px;
}

.first-line  p {
    text-align: center;
    color:  hsl(231, 7%, 65%);
    font-family:  'Barlow';
    font-size: .9rem;
}

.second-line {
    width: 700px;
    margin-top: 1em;
}

.second-line p {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .1em;
    color:  hsl(230, 29%, 20%);
}

.third-line {
   width: 720px;
   margin-top: .8em;
}

.third-line p {
    font-family: 'Barlow';
    color:  hsl(230, 11%, 40%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
}

.form {
    margin-top: 1em;
}

.form input {
    width: 340px;
    height: 50px;
    border: none;
    font-family: 'Barlow';
    color: hsl(231, 7%, 65%);
    border-radius: 5px;
    padding-left: 1em;
    font-size: 1rem;
}

.form button {
    margin-left: 1em;
    text-align: center;
    width: 120px;
    height: 50px;
    background-color: hsl(255deg 43% 28%);
    color: white;
    font-family: 'Barlow';
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}


.used {
    margin-top: 7em;
}

.used p {
    font-family: 'Barlow';
}

.used img {
    margin-top: 1em;
    padding-right: .5em;
}